.test {
    margin: 20px;

    &__header {
        display: flex;
        align-items: center;
        gap: 20px
    }
    
    &__button {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: rgb(228, 46, 0);
        color: #fff;
        border: none;
        cursor: pointer;

        &:disabled {
            opacity: .4;
            cursor: auto;
        }
    }
}